ul.ui-autocomplete {
	width: 32rem;
	font-size: 1rem;
	line-height: 1.5;
	list-style-type: none;
	background-color: #ededf0;
	padding: 0;
}

li.ui-menu-item {
	display: block;
	color: #0a84ff;
	padding: .5rem;
	cursor: pointer;
}

a.ui-corner-all:hover {
	text-decoration: underline;
}

li.ui-menu-item:hover {
	color: #ffffff;
	background-color: #0a84ff;
}